@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Squada+One);
.mvl-card--explore,
.mvl-card--media,
.mvl-card--lob,
.mvl-card--merch,
.mvl-card--large {
  box-sizing: border-box;
  position: relative;
}

.mvl-card--explore {
  color: #fff;
  max-width: 100%;
  transition: color 0.3s;
}

.mvl-card--explore:hover {
  box-sizing: border-box;
  position: relative;
}

.mvl-card--explore .card-thumb-frame {
  background: #e62429;
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 387px;
  transition: transform 0.5s;
}

.mvl-card--explore .card-thumb-frame:hover {
  background: #e62429;
  margin: 0;
  overflow: hidden;
  padding: 0;
  color: #fff;
  transform: translateX(0.5rem);
}

.mvl-card--explore .card-body.is-sliding {
  background: #212529;
  transition: color 0.3s;
}

.mvl-card--explore .card-body__headline {
  font: 400 16px/1.1 "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mvl-flyout__cta-p__d_d {
  font-size: 12px;
  margin: 0 0 10px 0;
  font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.explore__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.img-super {
  width: 100%;
  height: 380px;
  object-fit: cover;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.mvl-card--explore::after {
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: #fff;
  border-style: solid;
  border-top-color: rgba(0, 0, 0, 0);
  border-width: 12px 12px 0 0;
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  top: auto;
  z-index: 40;
}

.mvl-card--explore {
  color: #fff;
  max-width: 100%;
  transition: color 0.3s;
}

.mvl-card--explore:hover {
  color: #fff;
  max-width: 100%;
  transition: color 0.3s;
}

.header-sprite-p {
  font: 400 12px/1 "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #040d12;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.3px;
  font-weight: 800;
}

.mvl-flyout__cta-title {
  margin: 0 0 10px 0;
  font-family: "RobotoCondensed", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #151515;
}

.mvl-flyout__cta-span {
  margin: 0 0 10px 0;
  font-family: "RobotoCondensed", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e62429;
}

.mvl-flyout__cta-title__d {
  margin: 0 0 10px 0;
  font-family: "RobotoCondensed", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #151515;
}

.mvl-flyout__cta-span__d {
  margin: 0 0 10px 0;
  font-family: "RobotoCondensed", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e62429;
}

.mvl-flyout__cta-p__d {
  margin: 0 0 10px 0;
  font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-50 {
  appearance: button;
  background-color: #212529;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
.element-input {
  background-image: none;
  border: 1px solid #000;
  border-bottom-left-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
}

hr.sep-3 {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, #212529, #151515, #212529);
}

hr.sep-3::after {
  content: "§";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 1rem;
  background-color: white;
}

.logo {
  text-shadow: 1px 1px 0px #151515, 2px 2px 0px #151515, 3px 3px 0px #151515, 4px 4px 0px #151515, 5px 5px 0px #151515, 6px 6px 0px #151515, 7px 7px 0px #151515, 8px 8px 0px #151515, 9px 9px 0px #151515, 10px 10px 0px #151515, 11px 11px 0px #151515, 12px 12px 0px #151515, 13px 13px 0px #151515, 14px 14px 0px #151515, 15px 15px 0px #151515, 16px 16px 0px #151515, 17px 17px 0px #151515, 18px 18px 0px #151515, 19px 19px 0px #151515, 20px 20px 0px #151515, 21px 21px 0px #151515, 22px 22px 0px #151515, 23px 23px 0px #151515, 24px 24px 0px #151515, 25px 25px 0px #151515, 26px 26px 0px #151515, 27px 27px 0px #151515, 28px 28px 0px #151515, 29px 29px 0px #151515, 30px 30px 0px #151515;
  text-align: center;
  font-size: 5em;
  font-family: "Squada One", cursive;
  color: #ffffff;
}/*# sourceMappingURL=Home.css.map */