* {
  font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial,
    sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}
$warn-proprietary-syntax: false;
@import "../sass/layout/Header/Header.scss";
@import "../sass/layout/Footer/Footer.scss";
@import "../sass/views/Home.scss";
@import "../sass/views/SuperDetails.scss";
@import "../sass/components//Comics.scss";
$primary: #f5f5f5;

@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../../node_modules/bootstrap/scss/buttons";
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../../../node_modules/bootstrap/scss/maps";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../../../node_modules/bootstrap/scss/utilities";
@import "../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../node_modules/bootstrap/scss/type";
@import "../../../../node_modules/bootstrap/scss/images";
@import "../../../../node_modules/bootstrap/scss/containers";
@import "../../../../node_modules/bootstrap/scss/grid";
@import "../../../../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../../node_modules/bootstrap/scss/utilities/api";

$color-text-dark: #151515;
$color-background-dark: #151515;
$color-text-light: #ffff;
$color-border-dark: #212529;

[data-bs-theme="dark"] {
  .mvl-card--explore {
    color: $color-text-dark;

    .card-body.is-sliding {
      background: $color-background-dark;
    }
  }
  .el-input__wrapper {
    background-color: #212529;
    box-shadow: #151515 4px 4px 0 0, #000 4px 4px 0 1px;
    color: $color-text-light;
  }
  .element-input {
    box-shadow: #151515 4px 4px 0 0, #000 4px 4px 0 1px;
  }
  .button-50 {
    box-shadow: #151515 4px 4px 0 0, #000 4px 4px 0 1px;
  }
  .box-details_col {
    background-color: #151515;
  }
  hr.sep-3 {
    background-image: linear-gradient(to right, #ffff, #ffff, #ffff);
  }
  hr.sep-3::after {
    background-color: #212529;
  }
  .mvl-flyout__cta-title__d {
    color: $color-text-light;
  }
  .box-border {
    border: 1px solid #f5f5f5;
  }
  .inner {
    color: #f5f5f5;
  }
  .footer-a {
    color: $color-text-light;
  }
  .swiper-slide {
    background-color: transparent;
  }
  .header-sprite-p {
    color: $color-text-light;
  }

  .mvl-card--explore::after {
    border-right-color: $color-border-dark;
  }

  .mvl-flyout__cta-title {
    color: $color-text-light;
  }
}
